<style>
#content{
	text-align = center;
}
h1 {font-family: arial; color: red}

	body {
		width: 80%;
		min-width: 400px;
		max-width: 1250px;
		background-color:#a3d5d3;
		margin:20px auto;
		border: 4px dotted red;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		padding: 10px 10px 10px 10px;
		font-family: sans serif;
		text-align:center;
		color:#593d87;}
		
		<p style="font-weight:bold; font-style:italic; font-size: 14pt; color: green;">
hr{ 
	width: 400px:
	border-top: 1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0.2); 
}


</style>
